# Imports

In [ ]:
%matplotlib inline
import pandas as pd
import numpy as np

# Reading data

In [ ]:
data=pd.read_csv("../Datasets/Titanic/train.csv")

In [ ]:
data.head()

In [ ]:
data.info()

In [ ]:
data.describe()
# TASK: set the "percentiles" argument to display 10th and 20th percentile

# Metadata: data directory
<img src="../Datasets/Titanic/titanic_metadata.png">

In [ ]:
data.columns

## Deleting unwanted data

Here we drop columns that won't be useful in predicting. The 'PassengersId' is a column in the dataset used for indexing therefore cannot be used to predict. The 'Ticket' column has the ticket number of the passanger and cannot be logically linked to the survival chances of a person.

DataFrame's drop function can be used to delete data. The 'axis' argument is used to indicate weather a column or a row is to be deleted. 'axis=1' indicated column.

In [ ]:
data=data.drop(['PassengerId','Ticket'], axis=1,)
data.columns

In [ ]:
# TASK: delete one more redundant column
data=data.drop()

# Dealing with missing values

In [ ]:
# just one line of code !!!
data.isnull().sum()

In [ ]:
# Embarked
data.Embarked.value_counts()

In [ ]:
data['Embarked']=data.Embarked.fillna('S')
data.Embarked.value_counts()

In [ ]:
# Age
data['Age']=data.Age.fillna(data.Age.median())

In [ ]:
data=data.drop(['Cabin'], axis=1)

In [ ]:
data.info()

In [ ]:
# getting all unique values for each categorical column
categorical_cols=['Pclass','Sex','Embarked']
for c in categorical_cols:
    print(c,data[c].unique())

# Converting columns to one-hot representation

In [ ]:
# Pclass
pclass_dummies=pd.get_dummies(data.Pclass)
pclass_dummies.columns=['Pclass_1','Pclass_2','Pclass_3']
pclass_dummies.head()

In [ ]:
# Concatenating new data
data=data.join(pclass_dummies)
data.head()

In [ ]:
# Sex
sex_dummies=pd.get_dummies(data.Sex)
sex_dummies.columns=['is_male','is_female']
data=data.join(sex_dummies)

In [ ]:
# TASK: Convert Embarked into one-hot representation
# 3 lines of code

In [ ]:
data=data.drop(['Name','Pclass','Sex','Embarked'],axis=1)

In [ ]:
data.head()

In [ ]:
data.to_csv('../Datasets/Titanic/clean_train.csv')