In [1]:
import pandas as pd
from sklearn.linear_model import LogisticRegression

In [2]:
data=pd.read_csv('../Datasets/Titanic/clean_train.csv')

In [3]:
data.head()

,Unnamed: 0,Survived,Age,SibSp,Parch,Fare,Pclass_1,Pclass_2,Pclass_3,is_male,is_female,S,C,Q
0,0,0,22.0,1,0,7.2500,0,0,1,0,1,0,0,1
1,1,1,38.0,1,0,71.2833,1,0,0,1,0,1,0,0
2,2,1,26.0,0,0,7.9250,0,0,1,1,0,0,0,1
3,3,1,35.0,1,0,53.1000,1,0,0,1,0,0,0,1
4,4,0,35.0,0,0,8.0500,0,0,1,0,1,0,0,1

In [7]:
lr= LogisticRegression()
lr.fit(data.drop(['Survived'],axis=1),data['Survived'])

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [8]:
lr.score(data.drop(['Survived'],axis=1),data['Survived'])

0.8047138047138047